<h1>Welcome to CSE Motors!</h1>
<section class="hero">
    <div class="hero-text">
        <h2>DMC Delorean</h2>
        <p>3 cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dicel</p>
        <button>Own today</button>
    </div>
    <div class="hero-image">
        <picture>
            <source srcset="/images/vehicles/delorean.jpg" media="(min-width: 600px)">
            <img src="/images/vehicles/delorean-tn.jpg" alt="DMC Delorean">
        </picture>
    </div>
</section>

<section class="reviews">
    <div class="delorean-review">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast. It's almost like travelling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The more futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>

    <div class="delorean-upgrades">
        <h2>Delorean Upgrades</h2>
        <figure class="upgrade1">
            <div class="images">
                <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
            </div>
            <figcaption><a href="#">Flux Capacitator</a></figcaption>
        </figure>
        <figure class="upgrade2">
            <div class="images">
                <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
            </div>
            <figcaption><a href="#">Flame Decals</a></figcaption>
        </figure>
        <figure class="upgrade3">
            <div class="images">
                <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
            </div>
            <figcaption><a href="#">Bumper Sticker</a></figcaption>
        </figure>
        <figure class="upgrade4">
            <div class="images">
                <img src="/images/upgrades/hub-cap.jpg" alt="Hub Cap">
            </div>
            <figcaption><a href="#">Hub Cap</a></figcaption>
        </figure>
    </div>
</section>